<form>
    <table class="ui-widget">
        <thead class="ui-widget-header">
            <tr>
                <th colspan="2">Edit item</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label for="item">item:</label>
                </td>
                <td>
                    <input type="text" id="item" value="{{item}}" readonly="readonly">
                </td>
            </tr>
        </tbody>
    </table>
    <p><a href="/items">Go Back</a></p>
</form>