<html>
    <head>
        <title>hijax test</title>
        <meta charset="utf-8">
    </head>
    <body>
		<h1>hijax text</h1>
		<div id="content">
	        {{{body}}}
	        <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>
	        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	        <script src="/static/mustache.js"></script>
	        <script src="/static/underscore.js"></script>
	        <script src="/static/backbone.js"></script>
	        <script src="/static/hijax.js?v=2"></script>
		</div>
    </body>
</html>